<div class="container mt-5 py-2">
  <h2>Prodcut Finder Version 2</h2>
  <input type="text">
  <div class="row mx-auto my-3 justify-content-center">
    <% @products.each do |product| %>
      <div class="col-lg-4 col-md-4 col-12 border p-2 ">
        <div class="card card-bikes">
          <div class="card-body">
            <h5 class="card-title">
              <%= product.code %> <%= product.product_name %>
            </h5>
            <p class="card-text text-muted">
              <%= product.description %>
            </p>
            <p class="card-text text-muted">
              <%= product.long_descr %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
